	<footer class="row bg-gradient-light">
		<div class="col-sm">
			&copy; 2021 Anastasia Andreasen
		</div>
		<div class="col-sm">
			anastasia.andreasen@gmail.com
		</div>
		<div class="col-sm">
			+45 50227000
		</div>
	</footer>