<header class="menuDiv">

	<h5 id="btnChangeTxt">Click me</h5>

	<!-- Toggle dark vs light mode -->
	<div class="node-menu" style="font-size: 15px; margin-right:300px; margin-top:10px">
		<form>
			<input onclick="toggle()" id="checkbox" name="checkbox" type="checkbox" /><label for="checkbox">
				<div class="node-menu jsDark">n<span class="green">o</span>de js</div>
			</label>
		</form>
	</div>


	<nav class="nav flex-column flex-sm-row main-menu">
		<li><a class="nav-link" href="/">Home</a></li>
		<li><a class="nav-link" href="/node">node js</a></li>
		<li><a class="nav-link" href="/npm">npm</a></li>
		<li><a class="nav-link" href="/rest">rest api</a></li>
		<li><a class="nav-link" href="/myJs">js</a></li>
	</nav>

</header>