<section class="moveDiv">
	<h1>What is Node JS</h1>
	<div class="row">
		<div class="col">
			<ul class="dash">
				<li>Node is a runtime environment for executing JS code.</li>
				<li>Essentially, Node is a C++ program that embeds Chrome’s v8 engine, the fastest
					JS engine in the world.</li>
			</ul>
		</div>
</section>


<section class="moveDiv2">
	<h1>File Structure of a Node Project</h1>
</section>

<section class="moveDiv3">
	<div class="row">

		<div class="col-sm-8">
			<h2>First title</h2>
			<p>blablablabla</p>
		</div>

		<div class="col-sm-4">
			<div class="card" id="box">
				<div class="card-body">
					<h5 class="card-title">package.json</h5>
					<pre class="card-text">here is some text</pre>
				</div>
			</div>
		</div>

	</div>
</section>